



/*wrapper style*/
#wrapper{
  max-width: 960px;
  margin: 0 auto;/*horizontally center #wrapper*/
  /*box-shadow: 0 0 2px #000;
  -moz-box-shadow: 0 0 2px #000;
  -webkit-box-shadow: 0 0 2px #000; */
}





/*######################################################*/
/*#############  START header css  #####################*/
#header{
  font-family: Arial, sans-serif;
  font-weight: 700;
  background-color: #2e2d2e;
  height: 100px;
  margin: 0 auto;/*horizontally center #header*/
  position: relative;
}


/*START logo styling*/
#header #logo{
  margin-top: 10px;
  padding: 3px;
  position: absolute;
}

#header #logo a:hover{
  opacity: 0.8;
}

#header #logo img{
  width: 95px;
  height: 70px;
}
/*END logo styling*/


/*START main navigation styling*/
#header #nav{
  padding-top: 25px;/*align nav menu vertically to appx middle*/
  text-align: center;
  color: #fff;
  padding-left: 100px; /*same width as logo*/
  float: left;
  box-sizing: border-box;/*makes all padding to be included into width*/
  width: 70%; /*navigation takes 70% of header width*/
}

#header #nav ul{
  padding: 0px;
}

#header #nav ul li{
  display: inline; /*makes all li(menu links) to be in 1 line*/
  list-style-type: none; /*remove dots in front of li*/
  margin-left: 20px;/*horizontally indent between nav menu links*/
}

#header #nav ul li a{
  text-decoration: none; /*remove underline on nav menu links*/
  font-size: 21px;
  color: #fff;
}

#header #nav ul li a:hover{
  text-decoration: none;
  color: #ccc;
}
/*END main navigation styling*/


/*hamburger menu is invisible in standard (desktop) view with vewport above 768px*/
#header nav {
  display: none;
}


/*START search styling*/
#header #search{
  width: 30%;/*search width takes 30% of header width*/
  margin-top: 20px;/*align search input vertically appx. in the middle*/
  float: left;
  text-align: right;
/*  position: absolute;
  right: 10px;*/
}

#header #search p {
  padding-right: 15px;
}

/*Search input field width */
#header #search input.searchtext{
  width: 65%; /*width of the search input field*/
  border: 1px solid #e65912;
  border-radius: 3px;
  padding: 5px; /*make search input field bigger*/
  font-size: 16px; /*make font size inside the search input bigger then default*/
}
/*END search styling*/


/* START utility_nav styling */
#header #utility_nav{
  position: absolute;
  right: 10px;
  top: 0px;
}

#header #utility_nav ul{
  margin-top: 10px;
}

#header #utility_nav ul li{
  display: inline-block; /*make utility nav links to be in 1 line */
  margin-right: 5px;/*vertical indentation between links*/
}

#header #utility_nav ul li a {
  text-decoration: none;/*remove link underline*/
  color: #fff;
}

#header #utility_nav ul li a:hover {
  color: #ccc;
}

#header #utility_nav ul li a .util_nav_pipe {
  color: #e65912;
}

#header #utility_nav ul li a img {
  vertical-align: text-bottom; /*adjust cart icon vertically, relative to the utility nav menu text*/
}

/*cart icon in utility navigation*/
#header #utility_nav ul li img:hover {
  opacity: 0.8;
}
/* END utility_nav styling */

/*#############  END header css  #####################*/
/*####################################################*/





/*############################################################*/
/*#################  START hamburger menu ####################*/

/*hamburger menu icon positioning*/
#menuToggle {
  display: inline-block;
  position: relative;
  top: 40px;
  left: 100px;
  z-index: 10000;/*sliders controls z-index:9999, so put any number above 9999 to hide controls when hamburger menu list appears*/
  -webkit-user-select: none;
  user-select: none;
  /*border: 2px solid #fff;*/ /*border around hamburger icon*/
}

/*checkbox positioning (which is combined with hamburger menu and activates popup menu)*/
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*hamburger icon lines*/
#menuToggle span {
  display: block; /*now can specify width and height*/
  width: 33px;/*width of the hamburger icon lines*/
  height: 4px;/*height of the hamburger icon lines*/
  margin-bottom: 5px;/*vertical space between lines*/
  position: relative;
  background: #e65912;/*background color acts as horizontal lines of hamburger icon*/
  border-radius: 3px;/*makes icon line corners rounded*/
  z-index: 1;
  transform-origin: 3px -1px;/*adjust X(close) lines relative to each other*/
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}


/*-----------START when clicked (checkbox is checked) -------*/
/*transform hamburger icon lines into cross X(close menu) */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  /*background: #e65912;*//*color of X (close hamburger menu)*/
}

/*hide the center line of the hamburger icon when transform into X */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*bottom line of the hamburger icon goes opposite direction*/
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*slide the hamburger menu list from the left*/
#menuToggle input:checked ~ ul {
  transform: none;
}
/*-----------END when clicked (checkbox is checked) -------*/


/*popup hamburger menu list*/
#menu {
  position: absolute;
  width: 200px; /*width for the hamburger menu text list in popup menu*/
  margin: -100px 0 0 -120px;
  margin-top: -67px; /*position popup menu from the top*/
  padding: 40px;/*set the size of the popup window*/
  padding-left: 115px;/*padding left for menu list*/
  padding-top: 90px;/*set vertical space between X(close menu) and menu list*/
  border: 2px solid #000;
  background: #fff;/*background color of the popup*/
  list-style-type: none;
  -webkit-font-smoothing: antialiased;/* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);/*set popup to go to the left(out of the screen) by 100% of its width (get fully invisible)*/
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); /*0.5s - how fast popup moves from invisible*/
}

#menu a {
  text-decoration: none; /*remove underline */
  color: #2e2d2e; /*color of the text in hamburger menu list*/
  transition: color 0.3s ease;
}

#menu a:hover {
  opacity: 0.7;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}
/*#################  END hamburger menu ####################*/
/*############################################################*/





#container{
  /*background-color: #fcc;*/
  font-family: Arial, sans-serif;
}

#container h1 {
  font-weight: 500;
}

/* SLIDER styling: remove white border around bx-slider slider image*/
.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}

#container .slider img {
  width: 100%;
  height: auto;
}

#shop_by_category {
  /*background-color: #f00;*/
  width: 100%;
  float: left;
  list-style-type: none;
  margin-bottom: 40px;
}

#shop_by_category ul{
  padding: 0px;
  text-align: center;
}

#shop_by_category ul li{
  display: inline-block;
}

#shop_by_category img{
  width: 100%;
  height: auto;
}

#shop_by_category img:hover {
  opacity: 0.8;
}

#shop_by_category p{
  font-size: 18px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

#new_arrivals{
  /*background-color: #00f;*/
  clear:both; /*prevent problems with height*/
  width: 100%;
  list-style-type: none;
  margin-bottom: 40px;
}

#new_arrivals img{
  width: 280px;
  padding: 5px;
}

#new_arrivals ul{
  padding: 0px;
  margin-bottom: 0px;
  text-align: center;
}

#new_arrivals ul li{
  display: inline-block;
  text-align: center;
}

#new_arrivals ul li a{
  text-decoration: none;
}

#new_arrivals ul li a:hover,
#new_arrivals ul li p:hover,
#new_arrivals ul li h2:hover{
  opacity: 0.7;
}

#new_arrivals ul li p{
  color: #e65912;
  text-transform: uppercase;
  margin: 0px;
  font-size: 18px;
  font-weight: 550;
}

#new_arrivals h2{ 
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  text-transform: uppercase;
}

#trending{
  /*background-color: #0cc;*/
  width: 100%;
  margin-bottom: 40px;
}

#trending ul{
  list-style-type: none;
  padding: 0px;
  margin:0px;
  text-align: center;
}

#trending ul li{
  display: inline-block;
}

#trending ul li a:hover{
  opacity: 0.7;
}





/*###################################################*/
/*############### START footer styling ##############*/

/*START general styling for #footer*/
#footer {
  font-family: Arial, sans-serif;
  color: #fff;
}

#footer ul{
  padding: 0px;
  list-style-type: none; /*remove bullet points in front of li*/
  margin-top: 0px;
}

#footer ul li a{
  text-decoration: none; /*remove links underline*/
  color: #fff;
}

#footer ul li a:hover{
  color: #ccc;
}
/*END general styling for #footer*/


#footer #footer_up{
  background-color: #e65912;
  text-align: center; /*all inline-blocks text will be centered*/
}

#footer #footer_up hr{
  border: 0px; /*remove default hr border*/
  border-top: 1px solid #000;
}

#footer #footer_up>div{
  display: inline-block; /*make all divs(menus) to be in 1 row*/
  vertical-align: top;
  margin: 10px; /*vertical alignment between inline-blocks (menus)*/
  width: 180px; /*width of each footer menu list*/
  margin-bottom: 15px;
  margin-top: 15px;
}

#footer #footer_up div>h1 {
  height: 2em;/*vertical alignment of menu titles*/
  text-transform: uppercase;/*all h1 in uppercase*/
  font-size: 1.5em;
  margin-bottom: 0px;
}

#footer #footer_stay_connected ul li {
  display: inline-block; /*make social icons to be in 1 line*/
}

#footer #footer_stay_connected ul li a:hover {
  opacity: 0.7;
}

#footer #footer_bottom {
  clear: both;
  text-align: center;
  background-color: #000;
  color: #fff;
  height: 4em;/* relative height = 4*font-size(16px in this case) = 64px */
  
  /*make everithing inside #footer-bottom to be in the center vertically and horizontally*/
  display: flex; flex-direction: column; justify-content: center; align-items: center;
}

/*############## END footer styling ###############*/
/*#################################################*/










/* Arushi date: december 3 2018 */
/* sidebar styling for list view page */

/* sidebar */
#sidebar{
  width: 20%;
  float: left;
  min-height: 300px;
  background-color: #fcf;
}

/* sidebar h1 */
#sidebar h1{
  text-align: center;
  font-weight: 700;
  color: #e65912;
}

/*sidebar h2 */
#sidebar h2{
  text-align: center;
  margin-bottom: 5px;
}

/* sidebar ul */
#sidebar ul{
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 50px;
}

/* sidebar ul li a */
#sidebar ul li a{
  text-decoration: none;
  color: #000;
}

/* sidebar a:hover */
#sidebar ul li a:hover{
  color: #e65912;
}

/* product_list styling */
#product_list{
  width: 80%;
  float: left; /*float close to sidebar*/
}

/* product_list h1 */
#product_list h1{
  margin-top: 0px;
  padding: 17px;
  margin-bottom: 0px;
}



#product_list #center_products {
  width: auto;
  text-align: center;
}




/* .single_product styling in list view page */
#product_list .single_product{
  padding: 5px;
  width: 170px;
  background-color: #eee;
  display: inline-block;/*use inline-block (NOT float) to have option to center all products withing #product_list*/
  margin-left: 2px;
  margin-bottom: 5px;
  margin-right: 2px;
  
}

/* .single_product image */
#product_list .single_product img{
  width: 170px;
}

/* clear_both styling on list_view page */
.clear_both{
  clear: both;
}


/*About us page styling*/

/* aboutus_hero_image styling */
#aboutus_hero_image{
  width: 100%;
  height: auto;
}

/* content styling for about_us page */
#content{
  background-color: #ccc;
  border: 1px solid #000;
  padding: 10px;
}

#about_us_paragraph h1{
  text-align: center;
  font-weight: 700;
  color: #e65912;
  margin-top: 0px;
}

#about_us_paragraph p{
  text-align: justify;
  text-indent: 40px;
  font-style: italic;

}

#team_members h1{
  text-align: center;
  font-weight: 700;
  color: #e65912;
}

#team_members ul{
  list-style-type: none;
  margin-top: 0px;
}

#team_members li{
  float: left;
}

#team_members ul li img{
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

#team_members p{
  float: left;
  max-width: 200px;
  padding: 10px;
}


/* Detail View styling */

#container #detail{
  float: left;
  background-color: #fff;
  width: 85%;
  margin: 0 auto;
}

#container #detail h1{
  padding: 0;
}

#container #detail #detail_image,
#container #detail #detail_info{
  display: inline-block;
  float: left;
  width: 50%;
  margin: 0 auto;
}

#container #detail #detail_info button{
  color: #fff;
  background-color: #f00;
}

#container #detail #detail_category,
#container #detail #detail_description{
  margin-left: 5px;
  margin-right:5px;

}


/*##############Arushi date: 3december 2018 FINISH */


/*########################december 4 2018 starts */

/*styling for faq page */
#faq_hero_image{
  width: 100%;
  height: auto;
}

#faq_paragraph h1{
  text-align: center;
  font-weight: 700;
  color: #e65912;
  margin-top: 0px;
}

#faq_questions h2{
  text-align: left;
  font-weight: 600;
  color: #e55823;
}


/*DELIVERY & RETURN PAGE STYLING */
#return_paragraph h1{
  text-align: center;
  font-weight: 700;
  color: #e65912;
  margin-top: 0px;
}

#return_policy h2{
  text-align: left;
  font-weight: 600;
  color: #e55823;
}


/**********Contact us page styling */

#contact_info{
  background-color: #6cae5f;
  width: 40%;
  float: left; 
}

#contact_us_map{
  float: right;
  width: 10%;
  background-color: #fcc;
  margin-top: 0px;
}
#contact_form{
  display: none;
}

#contact_form fieldset{
  background-color: #aaf;
  border: 1px solid #000;
}

#contact_form legend{
  background-color: #ccf;
  border: 2px solid #444;
  padding: 5px;
}

#contact_form label{
  width: 100px;
  display: inline-block;
  text-align: right;
}

#form_last{
  border: 1px solid #000;
  background-color: #3fc;
  
}

#form_last input[type="submit"]{
  background-color: #f00;
  border: 2px solid #000;
  margin: 10px;
}

.required{ 
  color: #f33;
  vertical-align: 2px;
}

/***********END OF DECEMBER 4 2018 *****/



























/*###################################################*/
/*####### START responsive design (breakpoints)######*/

/*adjust main navigation menu horizontally */
@media only screen and (max-width: 815px) {
  #header #nav ul li{
    margin-left: 10px;
  }
}

/*iPad breakpoint - mobile view starts*/
@media only screen and (max-width: 768px) {
  /*hide desktop style main navigation*/
  #header #nav {
    display: none;
    width: 0px;
  }
  
  /*and display mobile style main navigation*/
  #header nav {
    display: initial; /*restore hamburger menu to default setting - visible*/
  }
  
  /*adjust search fiels*/
  #header #search {
    float: right;
    width: 50%;
  }
}

/*####### END responsive design (breakpoints)######*/
/*###################################################*/














