



/*wrapper style*/
#wrapper{
  max-width: 960px;
  margin: 0 auto;/*horizontally center #wrapper*/
  /*box-shadow: 0 0 2px #000;
  -moz-box-shadow: 0 0 2px #000;
  -webkit-box-shadow: 0 0 2px #000; */
}

#wrapper .clear_both{
  clear: both;
}

#wrapper .text_transform_uppercase {
  text-transform: uppercase;
}




/*######################################################*/
/*#############  START header css  #####################*/
#header{
  font-family: Arial, sans-serif;
  font-weight: 700;
  background-color: #2e2d2e;
  height: 100px;
  margin: 0 auto;/*horizontally center #header*/
  position: relative;
}


/*START logo styling*/
#header #logo{
  margin-top: 10px;
  padding: 3px;
  position: absolute;
}

#header #logo a:hover{
  opacity: 0.8;
}

#header #logo img{
  width: 95px;
  height: 70px;
}
/*END logo styling*/


/*START main navigation styling*/
#header #nav{
  padding-top: 25px;/*align nav menu vertically to appx middle*/
  text-align: center;
  color: #fff;
  padding-left: 100px; /*same width as logo*/
  float: left;
  box-sizing: border-box;/*makes all padding to be included into width*/
  width: 70%; /*navigation takes 70% of header width*/
}

#header #nav ul{
  padding: 0px;/*remove default ul padding-left*/
}

#header #nav ul li{
  display: inline; /*makes all li(menu links) to be in 1 line*/
  list-style-type: none; /*remove dots in front of li*/
  margin-left: 20px;/*horizontally indent between nav menu links*/
}

#header #nav ul li a{
  text-decoration: none; /*remove underline on nav menu links*/
  font-size: 21px;
  color: #fff;
}

#header #nav ul li a:hover{
  text-decoration: none;
  color: #ccc;
}
/*END main navigation styling*/


/*hamburger menu is invisible in standard (desktop) view with vewport above 768px*/
#header nav {
  display: none;
}


/*START search styling*/
#header #search{
  width: 30%;/*search width takes 30% of header width*/
  margin-top: 20px;/*align search input vertically appx. in the middle*/
  float: left;
  text-align: right;
/*  position: absolute;
  right: 10px;*/
}

#header #search p {
  padding-right: 15px;
}

/*Search input field width */
#header #search input.searchtext{
  width: 65%; /*width of the search input field*/
  border: 1px solid #e65912;
  border-radius: 3px;
  padding: 5px; /*make search input field bigger*/
  font-size: 16px; /*make font size inside the search input bigger then default*/
}

#header #search p #search_button {
  vertical-align: text-bottom; /*adjust search icon vertically, compared to search input field*/
}
/*END search styling*/


/* START utility_nav styling */
#header #utility_nav{
  position: absolute;
  right: 10px;
  top: 0px;
}

#header #utility_nav ul{
  margin-top: 10px;
}

#header #utility_nav ul li{
  display: inline-block; /*make utility nav links to be in 1 line */
  margin-right: 5px;/*vertical indentation between links*/
}

#header #utility_nav ul li a {
  text-decoration: none;/*remove link underline*/
  color: #fff;
}

#header #utility_nav ul li a:hover {
  color: #ccc;
}

#header #utility_nav ul li a .util_nav_pipe {
  color: #e65912;
}

#header #utility_nav ul li a img {
  vertical-align: text-bottom; /*adjust cart icon vertically, relative to the utility nav menu text*/
}

/*cart icon in utility navigation*/
#header #utility_nav ul li img:hover {
  opacity: 0.8;
}
/* END utility_nav styling */
/*#############  END header css  #####################*/
/*####################################################*/





/*############################################################*/
/*#################  START hamburger menu ####################*/

/*hamburger menu icon positioning*/
#menuToggle {
  display: inline-block;
  position: relative;
  top: 40px;
  left: 100px;
  z-index: 10000;/*sliders controls z-index:9999, so put any number above 9999 to hide controls when hamburger menu list appears*/
  -webkit-user-select: none;
  user-select: none;
  /*border: 2px solid #fff;*/ /*border around hamburger icon*/
}

/*checkbox positioning (which is combined with hamburger menu and activates popup menu)*/
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*hamburger icon lines*/
#menuToggle span {
  display: block; /*now can specify width and height*/
  width: 33px;/*width of the hamburger icon lines*/
  height: 4px;/*height of the hamburger icon lines*/
  margin-bottom: 5px;/*vertical space between lines*/
  position: relative;
  background: #e65912;/*background color acts as horizontal lines of hamburger icon*/
  border-radius: 3px;/*makes icon line corners rounded*/
  z-index: 1;
  transform-origin: 3px -1px;/*adjust X(close) lines relative to each other*/
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}


/*-----------START when clicked (checkbox is checked) -------*/
/*transform hamburger icon lines into cross X(close menu) */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  /*background: #e65912;*//*color of X (close hamburger menu)*/
}

/*hide the center line of the hamburger icon when transform into X */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*bottom line of the hamburger icon goes opposite direction*/
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*slide the hamburger menu list from the left*/
#menuToggle input:checked ~ ul {
  transform: none;
}
/*-----------END when clicked (checkbox is checked) -------*/


/*popup hamburger menu list*/
#menu {
  position: absolute;
  width: 200px; /*width for the hamburger menu text list in popup menu*/
  margin: -100px 0 0 -120px;
  margin-top: -67px; /*position popup menu from the top*/
  padding: 40px;/*set the size of the popup window*/
  padding-left: 115px;/*padding left for menu list*/
  padding-top: 90px;/*set vertical space between X(close menu) and menu list*/
  border: 2px solid #000;
  background: #fff;/*background color of the popup*/
  list-style-type: none;
  -webkit-font-smoothing: antialiased;/* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);/*set popup to go to the left(out of the screen) by 100% of its width (get fully invisible)*/
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); /*0.5s - how fast popup moves from invisible*/
}

#menu a {
  text-decoration: none; /*remove underline */
  color: #2e2d2e; /*color of the text in hamburger menu list*/
  transition: color 0.3s ease;
}

#menu a:hover {
  opacity: 0.7;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}
/*#################  END hamburger menu ####################*/
/*############################################################*/





#container{
  /*background-color: #fcc;*/
  font-family: Arial, sans-serif;
}

#container h1 {
  font-weight: 500;
}

/* SLIDER styling: remove white border around bx-slider slider image*/
.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}

#container .slider img {
  width: 100%;
  height: auto;
}

#shop_by_category {
  /*background-color: #f00;*/
  width: 100%;
  float: left;
  list-style-type: none;
  margin-bottom: 20px;
}

/*###########   3 steps to make li in 1 line and justified to the full width  ###############*/
/*this is for 960px width and above, below 960px - see @media breakpoint styles*/
/* STEP 1*/
#shop_by_category ul{
  padding: 0px; /*remove default ul padding-left*/
  text-align: justify;
}

/*STEP 2*/
#shop_by_category ul::after {width: 100%; display: inline-block; content: "."; visibility: hidden}

/*STEP 3*/
#shop_by_category ul li{
  display: inline-block;
  margin-bottom: 20px;
}
/*#####################  END 3 steps  #######################################################*/

#shop_by_category img{
  width: 100%;
  height: auto;
}

#shop_by_category img:hover {
  opacity: 0.8;
}

#shop_by_category p{
  font-size: 18px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

#new_arrivals{
  /*background-color: #00f;*/
  clear:both; /*prevent problems with height*/
  width: 100%;
  list-style-type: none;
  margin-bottom: 20px;
}

#new_arrivals img{
  width: 280px;
  /*padding: 5px;*/
}

#new_arrivals ul{
  padding: 0px;/*remove default ul padding-left*/
  margin-bottom: 0px;
  text-align: justify;
}

#new_arrivals ul::after {width: 100%; display: inline-block; content: "."; visibility: hidden}

#new_arrivals ul li{
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

#new_arrivals ul li a{
  text-decoration: none;
}

#new_arrivals ul li a:hover,
#new_arrivals ul li p:hover,
#new_arrivals ul li h2:hover{
  opacity: 0.7;
}

#new_arrivals ul li p{
  color: #e65912;
  text-transform: uppercase;
  margin: 0px;
  font-size: 18px;
  font-weight: 550;
}

#new_arrivals h2{ 
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  text-transform: uppercase;
}

#trending{
  /*background-color: #0cc;*/
  width: 100%;
  margin-bottom: 40px;
}

#trending ul{
  list-style-type: none;
  padding: 0px;/*remove default ul padding-left*/
  margin:0px;
  text-align: center;
}

#trending ul li{
  display: inline-block;
}

#trending ul li a:hover{
  opacity: 0.7;
}





/*###################################################*/
/*############### START footer styling ##############*/

/*START general styling for #footer*/
#footer {
  font-family: Arial, sans-serif;
  color: #fff;
}

#footer ul{
  padding: 0px;/*remove default ul padding-left*/
  list-style-type: none; /*remove bullet points in front of li*/
  margin-top: 0px;
}

#footer ul li a{
  text-decoration: none; /*remove links underline*/
  color: #fff;
}

#footer ul li a:hover{
  color: #ccc;
}
/*END general styling for #footer*/


#footer #footer_up{
  background-color: #e65912;
  text-align: center; /*all inline-blocks text will be centered*/
}

#footer #footer_up hr{
  border: 0px; /*remove default hr border*/
  border-top: 1px solid #000;
}

#footer #footer_up>div{
  display: inline-block; /*make all divs(menus) to be in 1 row*/
  vertical-align: top;
  margin: 10px; /*vertical alignment between inline-blocks (menus)*/
  width: 180px; /*width of each footer menu list*/
  margin-bottom: 15px;
  margin-top: 15px;
}

#footer #footer_up div>h1 {
  height: 2em;/*vertical alignment of menu titles*/
  text-transform: uppercase;/*all h1 in uppercase*/
  font-size: 1.5em;
  margin-bottom: 0px;
}

#footer #footer_stay_connected ul li {
  display: inline-block; /*make social icons to be in 1 line*/
}

#footer #footer_stay_connected ul li a:hover {
  opacity: 0.7;
}

#footer #footer_bottom {
  clear: both;
  text-align: center;
  background-color: #000;
  color: #fff;
  height: 4em;/* relative height = 4*font-size(16px in this case) = 64px */
  
  /*make everithing inside #footer-bottom to be in the center vertically and horizontally*/
  display: flex; flex-direction: column; justify-content: center; align-items: center;
}
/*############## END footer styling ###############*/
/*#################################################*/





/*##################################################################*/
/*############### START products (list) page styling ##############*/

/* sidebar */
#sidebar{
  width: 20%;
  float: left;
  /*background-color: #fcf;*/ /*for testing*/
}

/* sidebar h1 */
#sidebar h1{
  /*text-align: center;*/
  font-weight: 700;
  color: #e65912;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*sidebar h2 */
#sidebar h2{
  text-align: left;
  margin-bottom: 25px;
}

/* sidebar ul */
#sidebar ul{
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 0px;
}

#sidebar ul li {
  margin-bottom: 15px;
}

/* sidebar ul li a */
#sidebar ul li a{
  text-decoration: none;
  color: #000;
}

/* sidebar a:hover */
#sidebar ul li a:hover{
  color: #e65912;
}

/* product_list styling */
#product_list{
  width: 80%;
  float: left; /*float close to sidebar*/
  /*background: #ccc;*/ /*for testing*/
}

/* product_list h1 */
#product_list h1{
  margin-top: 0px;
  padding: 20px;
  padding-left: 20px;
  margin-bottom: 0px;
}

/*center all products within #product_list*/
#product_list #center_products {
  /*width: auto;*/
  text-align: center;
  border-left: 2px solid #aaa;
  margin-bottom: 15px;
}

/* .single_product styling in list view page */
#product_list .single_product{
  padding: 5px;
  width: 170px;
  background-color: #eee;
  display: inline-block;/*use inline-block (NOT float) to have option to center all products withing #product_list*/
  margin-left: 2px;
  margin-bottom: 5px;
  margin-right: 2px;
}

#product_list .single_product a {
  text-decoration: none; /*remove underline*/
  color: initial; /*take inherited color(black), not color for links (blue)*/
}

/* .single_product image */
#product_list .single_product img{
  width: 170px;
}

#product_list .single_product img:hover,
#product_list .single_product ul li:hover {
  opacity: 0.8;
}

#product_list .single_product .single_product_info ul {
  list-style-type: none;
  padding: 0px;
}

#product_list .single_product .single_product_info ul li {
  margin-bottom: 10px;
}

/* clear_both styling on list_view page */
.clear_both{
  clear: both;
}
/*############### END products (list) page styling ##############*/
/*##################################################################*/





/*##################################################################*/
/*############### START products (list) page styling ##############*/
#detail{
  float: left;
  background-color: #fff;
  margin: 0 auto;
}

/* MAKE 3 elements to be displayed in 1 line and verically aligned to the middle of that line
 * to do that see css for #detail_image, #empty_div, #detail_info
 * 1 make #detail_image, #empty_div, #detail_info in 1 line (display: inline-block)
 * 2 define width for each div (50%, 9%, 40%)
 * 3 make all divs to be vertically in the center of the single line (vertical-align: middle)
 */
#detail #detail_product #detail_image {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

/* #####  START make image responsive #####*/
#detail #detail_product #detail_image {
  max-width: 500px;
}
#detail #detail_product #detail_image img {
  width: 100%;
  height: auto;
}
/* #####  END make image responsive #####*/

#detail #detail_product #empty_div {
  box-sizing: border-box;
  display: inline-block;
  width: 8%;
  vertical-align: middle;
}

#detail #detail_info{
  box-sizing: border-box;
  display: inline-block;
  width: 40%;/*img has width 50% and floats left, detail_info has width 40% and floated right, 10% width will be between img and detail_info*/
  vertical-align: middle;
}

#detail #detail_info h1{
  font-size: 20px;
}

#detail #detail_info p{
  font-size: 20px;
}

#detail #detail_info form #quantity_field {
  width: 100px;
  border: 1px solid #e65912;
  border-radius: 3px;
  padding: 5px; /*make search input field bigger*/
  font-size: 16px; /*make font size inside the search input bigger then default*/
}

#detail #detail_info button{
  color: #fff;
  background-color: #f00;
  font-size: 20px;
  border: 2px solid #000;
  width: 200px;
  height: 50px;
}

#detail #detail_info button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#detail #detail_description {
  margin-bottom: 40px;
}

#detail #detail_description h2 {
  margin-top: 40px;
  text-decoration: underline;
}
/*############### END products (list) page styling ##############*/
/*##################################################################*/

















/*###################################################*/
/*####### START responsive design (breakpoints)######*/

/*if below 960px width, center (instead of justified to width) the category list and new_arrivals for responsive veiw*/
@media only screen and (max-width: 960px) {
  #shop_by_category ul{
    text-align: center;
  }
  
  #new_arrivals ul{
    text-align: center;
  }
}


/*adjust main navigation menu horizontally */
@media only screen and (max-width: 815px) {
  #header #nav ul li{
    margin-left: 10px;
  }
}


/*iPad breakpoint - mobile view starts*/
@media only screen and (max-width: 768px) {
  
  /*----------- START header and footer breaks ---------- */
  /*hide desktop style main navigation*/
  #header #nav {
    display: none;
    width: 0px;
  }
  
  /*and display mobile style main navigation*/
  #header nav {
    display: initial; /*restore hamburger menu to default setting - visible*/
  }
  
  /*adjust search fiels*/
  #header #search {
    float: right;
    width: 50%;
  }
  /*----------- END header and footer breaks ---------- */
  
  
  /*----------- START products page breaks ---------- */
  /*place sidebar from the left edge to the top of the #container*/
  #sidebar {
    box-sizing: border-box;
    width: 100%;
    float: none;
    /*background-color: #fcf;*/ /*for testing*/
    padding: 10px;
    border-bottom: 1px dotted #000;
  }
  
  #sidebar h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  
  #sidebar h2{
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #sidebar ul {
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  #sidebar ul li {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  /*place #product_list under the sidebar*/
  #product_list{
    width: 100%;
    float: none; /*remove desktop style float*/
    /*background: #ccc;*/ /*for testing*/
  }
  
  #product_list h1{
    padding-left: 0px;
  }
  
  #product_list #center_products {
    border: none;
  }
  /*----------- END products page breaks ---------- */
  
  
  /*----------- START product_detail page breaks ---------- */
  #detail #detail_product #detail_image {
    display: block;/*change desktop style inline-block to block*/
    width: 100%;/*change desktop style 40% to 100%*/
    margin: 0 auto;
  }
  
  #detail #detail_product #empty_div {
    display: none;/*change desktop style inline-block to block*/
  }

  #detail #detail_product #detail_info{
    display: block;/*change desktop style inline-block to block*/
    width: 100%;/*change desktop style 40% to 100%*/
    text-align: center;
  }
  /*----------- END product_detail page breaks ---------- */
}
/*####### END responsive design (breakpoints)######*/
/*###################################################*/














