/*

//////////////////////////////////////////
//                                      //
//                          ___         //
//     /\    |\  /|   /\   |   )        //
//    /__\   | \/ |  /__\  |  \         //
//   /    \  |    | /    \ |   \        //
//                                      //
//                                      //
//////////////////////////////////////////


*/

/*Overall style of body */
body{
  font-family: lato, sans-serif;
  font-size: 1rem;
  background: -webkit-linear-gradient(#fff,#ccc);
  background: -moz-linear-gradient(#fff,#ccc);
  background: linear-gradient(#fff,#ccc);
  background-repeat: repeat-x;
  background-color: #ccc;
}

/* Style for wrapper */
#wrapper{
  background-color: #fff;
  width: 960px;
  margin: 0 auto;
  position: relative;        
}

/* Style forcustomer_wrapper */
#customer_wrapper{
  background-color: #fff;
  width: 960px;
  margin: 0 auto;
  position: relative;        
}


/* Animation to fade navigation elements in */
@keyframes fadein{

  0%{
    opacity: 0;
    transform: translate(0,-20px);
  }
  100%{
    opacity: 1;
    transform: translate(0,0);
  }

}

/* Style for logo alignment */
#wrapper #logo{ 
  height: 70px;
  width: 100px;
  display: inline-block;
  float: left;
  position: absolute;
  top: 10px;
  left: 5px;
}

#navigation{
  min-height: 20px;       
  position: absolute;
  margin-left: 50px;        
}

/* login links */

#login{
  height: 50px;
  width: 240px;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 999;
}

#login ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#login ul li{
  display: inline;
  float: left;
  padding: 5px;
}

#login ul li a{
  text-decoration: none;
  color: #666;
  display: block;
  text-align: center;  
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#login ul li a:hover{        
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  color: #099;
}


/* Style to set overall looks of footer */
#footer #footer_bottom{ 
  min-height: 30px;
  background: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}


/* Style for table */

table{
  width: 960px;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0 auto;
  background: linear-gradient(to bottom, rgba(111,111,111,0), rgba(211,211,211,1));
  border: 1px solid #f00;
}

/* Common for headings and cells */
th, td{
  padding: 5px;
  margin: 0;
  border: 1px solid #ccc;
  max-width: 500px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(200,200,200,0), rgba(211,211,211,0.3));
}

table td.text{
  padding: 27px; 
  border-spacing: 10px;
  padding-bottom: 70px;
}

/* Table heading style */
th{
  color: #fff;
  background-color: #555;
  text-align: center;
  height: 30px;
}

table h2 a{
  text-decoration: none;
  color: #444; 
}

table h2 a:hover{
  color: #099;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  text-shadow: 0 0 0.5px #099;
}

/* Style to align text fields */
.label{ 
  float:left;
  width: 90px; 
}

#form .button{
  color: #fff;
  background-color: #000;
  height: 35px;
  width: 100px;
  font-weight: bold;
  margin-bottom: 20px;
  border: none;
}

#form .button:hover{
  background-color: #333; 
  transition: all .2s linear;
  border: none;
}

/* CSS for login page */

#container #login{
  position: relative;
  display: inline-block;
  margin-left: 10%;
}



/* CSS for Profile page */

#content #info{
  margin-top: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 35px;
  padding-top: 20px;
  min-height: 300px;
}

#content #info h2{
  margin-left: 20px;
  color: #006400;
}

/* CSS for Admin login page */

#content #contentform #form #admin{
  border: 4px solid #006400;
  padding: 20px;
  margin-bottom: 20px;
}

#content #contentform #form #admin h2{
  float: right;
  color: #006400;
  position: absolute;
  left: 300px;
  top: 100px;
  font-size: 40px;
}

#content #contentform #form #fields{
  min-height: 120px;
}

/* Style for admin products page */
main#content #admin_info{
  min-height: 550px;
}

#wrapper #content #product_table td{
  text-align: center;
}

#content #admin_info h2{
  color: #fff;
  text-align: center;
  background-color: #222;
  height: 60px;
  padding-top: 30px;
  margin-top: 0;
}

#content #admin_info #search{
  top: 85px;
  right: 5px;
}

#search_result{
  max-width: 500px;
}
#product_table{
  max-width: 500px;
}

 #button{
  margin-bottom: 50px; 
}
    
#button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-left: 45%;
  padding: 10px;
  border-radius: 5px;
  width: 112px;
  background: #3498DB;
  position: absolute;
  top: 500px;
  z-index: 999;
}

 #button a:hover {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  background: #349800;
  transition: all .5s linear;
}

#heading{
  background: #000;
  color: #fff;
  height: 30px;
  width: 190px;
  position: absolute;
  right: 20px;
  top: 248px;
  padding: 5px;
  border: 1px solid #444;
}

#heading h3{
  text-align: center;
  margin-top: 4px;
}

#add_list{
  width: 100%;
  padding: 0;
} 

#add_list li{
  list-style-type: none;  
  margin-bottom: 10px;
}

#add_list li#brand{
  display: block;
  width: 150px;
}


#add_list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  width: 120px;
  background: #3498DB;
  display: inline-block;
  text-align: center;
  margin-left: 30px;
}

#add_list a:hover{
  background: #349800;
  transition: all .5s linear;
}

#list_container{
  position: absolute;
  top: 290px;
  right: 20px;
  width: 200px;
  border: 1px solid #444;
}

/* for search results */
#wrapper #content #product_table #search_result h3{
  margin-left: 20px;
  color: #53a122;
}

#wrapper #content #product_table #search_result ul {
  list-style-type: none;
  list-style-image: url(../images/bullet1.png);
  z-index: 999;
}

#wrapper #content #product_table #search_result ul li{
  padding-bottom: 5px;
}
#wrapper #content #product_table #search_result ul a{
  text-decoration: none;
  color: #000;
  margin-left: 2px;
}

#wrapper #content #product_table #search_result ul a:hover {
  text-decoration: none;
  color: #777;
  transition: all .1s linear;
}

/* add brands */
#wrapper #container #content #data h2{
  margin-left: 20px;
  color: #53a122;
}

#wrapper #container #content #data ul {
  list-style-type: none;
  list-style-image: url(../images/bullet1.png);
  z-index: 999;
  margin-left: 15px;
}


#wrapper #content #admin_info #db{
  position: absolute;
  top: 130px;
  right: 15px;
  padding: 5px;
  margin-bottom: 4px;
  border-radius: 5px;
  width: 100px;
  background: #333;
}

#wrapper #content #admin_info #admin{
  position: absolute;
  left: 15px;
  top: 200px;
}

table.list_view a{
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 4px;
  border-radius: 5px;
  display: inline-block;
  width: 55px;
  text-align: center;
  font-weight: 0.8em;
}

.list_view  a:hover{
  background-color: #444;
  transition: all .1s linear;
}

/* Style for admin_customers page */

#wrapper #content #customers_table td{
  text-align: center;
}



/* Style for admin_invoice page */

#wrapper #content #invoice_table td{
  text-align: center;
}

#wrapper #content #invoice_table a{
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 4px;
  border-radius: 5px;
  display: inline-block;
  width: 55px;
  text-align: center;
  font-weight: 0.8em;
}

#wrapper #content #invoice_table a:hover{
  background-color: #0a0;
  transition: all .1s linear;
}

/* Style for admin dashboard page */

#wrapper #tables h2{
  color: #fff;
  text-align: center;
  background-color: #222;
  height: 60px;
  padding-top: 30px;
  margin-top: 0;
}

#wrapper #tables #admin_dashboard{
  position: absolute;
  top: 100px;
  right: 20px;
}

#wrapper #tables #data #stats{
  margin-left: 140px;
}

#wrapper #tables #data h2{
  height: 30px;
  padding: 10px;
}

#wrapper #tables h3{
  color: #555;
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 30px;
}

#wrapper #tables ul#admin_tables li{
  float: left;
  list-style-type: none;
  padding: 5px;
}

#wrapper #tables ul#admin_tables li a{
  text-decoration: none;
  background-color: #3498DB;
  padding: 12px 28px;
  color: #fff;
  font-weight: bold;
}

#wrapper #tables ul#admin_tables li a:hover{
  background-color: #5DADE2;
  transition: all .2s linear;
}

#wrapper #tables #tables_list{
  margin-left: 176px;
  margin-bottom: 30px;
  min-height: 80px;
}

#wrapper #tables #tables_list li a#logout{
  background-color: #f00;
}

#wrapper #tables #tables_list li a#logout:hover{
  background-color: #f44;
  transition: all .2s linear;
}

#wrapper #tables #data{
  border: 2px solid #000;
  border-radius: 8px;;
  margin: 0 auto;
  width: 550px;
  margin-bottom: 50px;
  margin-top: 30px;
  clear:both;
}

#wrapper #tables #data li{
  padding: 8px;
  font-size: 1.2em;
}

/* Style for add_product page */

#content #contentform #form #add_product{
  position: absolute;
  right: 30px;
  bottom: 110px;
}

#content #contentform #form #add_new_product{
  position: absolute;
  right: 30px;
  bottom: 193px;
}

#content #contentform #form #availability{
  margin-left: 12px;
  width: 50px;
  height: 20px;
}

/* Style for edit_product page */

#content #contentform #form #edit_product {
  position: absolute;
  right: 30px;
  top: 230px;
}

/* Style for thank you page */
#wrapper #content #invoice_content #cart_table{
  width: 500px;
}

#wrapper #content #add_customer{
    position: absolute;
    right: 30px;
    bottom: 177px;
}

#container h2 a{
  text-decoration: none;
  font-size: 21px;
  color: #000;
}

#container h2 a:hover{
  color: #555;
}

#admin_info #search #search_form #search_button{
  background-color: #000;
  color: #fff;
  height: 30px;
  width: 66px;
  border: none;
}

#admin_info #search #search_form #search_button:hover{
  background-color: #333;
  border: none;
}

#form_submit_buttons input.button{
  background-color: #000;
  color: #fff;
  height: 35px;
  width: 90px;
  border: none;
}

#form_submit_buttons input.button:hover{
  background-color: #333;
  border: none;
}

#wrapper #content #admin_info #search #search_form #searchbox{
  height: 25px;
  width: 180px; 
}

/* for orders section by Thai Tran */

.shippedbtn {
  background: #3498DB;
  width: 70px; 
}

.pendingbtn {
  background: #da3832;
  width: 70px; 
}

.completebtn {
  background: #53a122;
  width: 80px; 
}

.incompletebtn {
  background: #da3832;
  width: 80px; 
}

.viewbtn {
  background: #3498DB;
  width: 50px; 
}

.orderstatusbtn {
  position: relative;
  display: inline-block;
  text-decoration: none; 
  color: #fff; 
  font-weight: bold; 
  padding: 10px; 
  border-radius: 5px; 
}

.orderstatusbtn .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.orderstatusbtn:hover .tooltiptext {
  visibility: visible;
}
