



/*wrapper style*/
#wrapper{
  max-width: 960px;
  margin: 0 auto;/*horizontally center #wrapper*/
  /*box-shadow: 0 0 2px #000;
  -moz-box-shadow: 0 0 2px #000;
  -webkit-box-shadow: 0 0 2px #000; */
}

#wrapper .clear_both{
  clear: both;
}

#wrapper .text_transform_uppercase {
  text-transform: uppercase;
}




/*#################################################################*/
/*#############  START header css (all pages) #####################*/
#header{
  font-family: Arial, sans-serif;
  font-weight: 700;
  background-color: #2e2d2e;
  height: 100px;
  margin: 0 auto;/*horizontally center #header*/
  position: relative;
}


/*START logo styling*/
#header #logo{
  margin-top: 10px;
  padding: 3px;
  position: absolute;
}

#header #logo a:hover{
  opacity: 0.8;
}

#header #logo img{
  width: 95px;
  height: 70px;
}
/*END logo styling*/


/*START main navigation styling*/
#header #nav{
  padding-top: 25px;/*align nav menu vertically to appx middle*/
  text-align: center;
  color: #fff;
  padding-left: 100px; /*same width as logo*/
  float: left;
  box-sizing: border-box;/*makes all padding to be included into width*/
  width: 70%; /*navigation takes 70% of header width*/
}

#header #nav ul{
  padding: 0px;/*remove default ul padding-left*/
}

#header #nav ul li{
  display: inline; /*makes all li(menu links) to be in 1 line*/
  list-style-type: none; /*remove dots in front of li*/
  margin-left: 20px;/*horizontally indent between nav menu links*/
}

#header #nav ul li a{
  text-decoration: none; /*remove underline on nav menu links*/
  font-size: 21px;
  color: #fff;
}

#header #nav ul li a:hover{
  text-decoration: none;
  color: #ccc;
}
/*END main navigation styling*/


/*hamburger menu is invisible in standard (desktop) view with vewport above 768px*/
#header nav {
  display: none;
}


/*START search styling*/
#header #search{
  width: 30%;/*search width takes 30% of header width*/
  margin-top: 20px;/*align search input vertically appx. in the middle*/
  float: left;
  text-align: right;
/*  position: absolute;
  right: 10px;*/
}

#header #search p {
  padding-right: 15px;
}

/*Search input field width */
#header #search input.searchtext{
  width: 65%; /*width of the search input field*/
  border: 1px solid #e65912;
  border-radius: 3px;
  padding: 5px; /*make search input field bigger*/
  font-size: 16px; /*make font size inside the search input bigger then default*/
}

#header #search p #search_button {
  vertical-align: text-bottom; /*adjust search icon vertically, compared to search input field*/
}
/*END search styling*/


/* START utility_nav styling */
#header #utility_nav{
  position: absolute;
  right: 10px;
  top: 0px;
}

#header #utility_nav ul{
  margin-top: 10px;
}

#header #utility_nav ul li{
  display: inline-block; /*make utility nav links to be in 1 line */
  margin-right: 5px;/*vertical indentation between links*/
}

#header #utility_nav ul li a {
  text-decoration: none;/*remove link underline*/
  color: #fff;
}

#header #utility_nav ul li a:hover {
  color: #ccc;
}

#header #utility_nav ul li a .util_nav_pipe {
  color: #e65912;
}

#header #utility_nav ul li a img {
  vertical-align: text-bottom; /*adjust cart icon vertically, relative to the utility nav menu text*/
}

/*cart icon in utility navigation*/
#header #utility_nav ul li img:hover {
  opacity: 0.8;
}

#header #nav .active_page,
#header #utility_nav .active_page {
  color: #e65912;
}


/* END utility_nav styling */
/*#############  END header css (all pages)  #####################*/
/*################################################################*/





/*#########################################################################*/
/*#################  START hamburger menu (all pages) ####################*/

/*hamburger menu icon positioning*/
#menuToggle {
  display: inline-block;
  position: relative;
  top: 40px;
  left: 100px;
  z-index: 10000;/*sliders controls z-index:9999, so put any number above 9999 to hide controls when hamburger menu list appears*/
  -webkit-user-select: none;
  user-select: none;
  /*border: 2px solid #fff;*/ /*border around hamburger icon*/
}

/*checkbox positioning (which is combined with hamburger menu and activates popup menu)*/
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*hamburger icon lines*/
#menuToggle span {
  display: block; /*now can specify width and height*/
  width: 33px;/*width of the hamburger icon lines*/
  height: 4px;/*height of the hamburger icon lines*/
  margin-bottom: 5px;/*vertical space between lines*/
  position: relative;
  background: #e65912;/*background color acts as horizontal lines of hamburger icon*/
  border-radius: 3px;/*makes icon line corners rounded*/
  z-index: 1;
  transform-origin: 3px -1px;/*adjust X(close) lines relative to each other*/
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}


/*-----------START when clicked (checkbox is checked) -------*/
/*transform hamburger icon lines into cross X(close menu) */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  /*background: #e65912;*//*color of X (close hamburger menu)*/
}

/*hide the center line of the hamburger icon when transform into X */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*bottom line of the hamburger icon goes opposite direction*/
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*slide the hamburger menu list from the left*/
#menuToggle input:checked ~ ul {
  transform: none;
}
/*-----------END when clicked (checkbox is checked) -------*/


/*popup hamburger menu list*/
#menu {
  position: absolute;
  width: 200px; /*width for the hamburger menu text list in popup menu*/
  margin: -100px 0 0 -120px;
  margin-top: -67px; /*position popup menu from the top*/
  padding: 40px;/*set the size of the popup window*/
  padding-left: 115px;/*padding left for menu list*/
  padding-top: 90px;/*set vertical space between X(close menu) and menu list*/
  border: 2px solid #000;
  background: #fff;/*background color of the popup*/
  list-style-type: none;
  -webkit-font-smoothing: antialiased;/* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);/*set popup to go to the left(out of the screen) by 100% of its width (get fully invisible)*/
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); /*0.5s - how fast popup moves from invisible*/
}

#menu a {
  text-decoration: none; /*remove underline */
  color: #2e2d2e; /*color of the text in hamburger menu list*/
  transition: color 0.3s ease;
}

#menu a:hover {
  opacity: 0.7;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu .active_page {
  color: #e65912;
}
/*#################  END hamburger menu (all pages) ####################*/
/*######################################################################*/





#container{
  /*background-color: #fcc;*/
  font-family: Arial, sans-serif;
}

#container h1 {
  font-weight: 500;
}

/* SLIDER styling: remove white border around bx-slider slider image*/
.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}

#container .slider img {
  width: 100%;
  height: auto;
}

#shop_by_category {
  /*background-color: #f00;*/
  width: 100%;
  float: left;
  list-style-type: none;
  margin-bottom: 20px;
}

/*###########   3 steps to make li in 1 line and justified to the full width  ###############*/
/*this is for 960px width and above, below 960px - see @media breakpoint styles*/
/* STEP 1*/
#shop_by_category ul{
  padding: 0px; /*remove default ul padding-left*/
  text-align: justify;
}

/*STEP 2*/
#shop_by_category ul::after {width: 100%; display: inline-block; content: "."; visibility: hidden}

/*STEP 3*/
#shop_by_category ul li{
  display: inline-block;
  margin-bottom: 20px;
}
/*#####################  END 3 steps  #######################################################*/

#shop_by_category img{
  width: 100%;
  height: auto;
}

#shop_by_category img:hover {
  opacity: 0.8;
}

#shop_by_category p{
  font-size: 18px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

#new_arrivals{
  /*background-color: #00f;*/
  clear:both; /*prevent problems with height*/
  width: 100%;
  list-style-type: none;
  margin-bottom: 20px;
}

/* set in what size trending images will be displayed*/
#new_arrivals img{
  width: 280px;
  height: 230px;
  /*padding: 5px;*/
}

#new_arrivals ul{
  padding: 0px;/*remove default ul padding-left*/
  margin-bottom: 0px;
  text-align: justify;
}

#new_arrivals ul::after {width: 100%; display: inline-block; content: "."; visibility: hidden}

#new_arrivals ul li{
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  max-width: 280px
}

#new_arrivals ul li a{
  text-decoration: none;
}

#new_arrivals ul li a:hover,
#new_arrivals ul li p:hover,
#new_arrivals ul li h2:hover{
  opacity: 0.7;
}

#new_arrivals ul li p{
  color: #e65912;
  text-transform: uppercase;
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}

#new_arrivals h2{ 
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
  text-transform: uppercase;
  height: 70px;/*if product name takes 2 lines to display on home page, align it with 1 line name products*/
}

#trending{
  /*background-color: #0cc;*/
  width: 100%;
  margin-bottom: 40px;
}

#trending ul{
  list-style-type: none;
  padding: 0px;/*remove default ul padding-left*/
  margin:0px;
  text-align: center;
}

#trending ul li{
  display: inline-block;
}

#trending ul li a:hover{
  opacity: 0.7;
}





/*###############################################################*/
/*############### START footer styling (all pages) ##############*/

/*START general styling for #footer*/
#footer {
  font-family: Arial, sans-serif;
  color: #fff;
}

#footer ul{
  padding: 0px;/*remove default ul padding-left*/
  list-style-type: none; /*remove bullet points in front of li*/
  margin-top: 0px;
}

#footer ul li a{
  text-decoration: none; /*remove links underline*/
  color: #fff;
}

#footer ul li a:hover{
  color: #ccc;
}
/*END general styling for #footer*/


#footer #footer_up{
  background-color: #e65912;
  text-align: center; /*all inline-blocks text will be centered*/
}

#footer #footer_up hr{
  border: 0px; /*remove default hr border*/
  border-top: 1px solid #000;
}

#footer #footer_up>div{
  display: inline-block; /*make all divs(menus) to be in 1 row*/
  vertical-align: top;
  margin: 10px; /*vertical alignment between inline-blocks (menus)*/
  width: 180px; /*width of each footer menu list*/
  margin-bottom: 15px;
  margin-top: 15px;
}

#footer #footer_up div>h1 {
  height: 2em;/*vertical alignment of menu titles*/
  text-transform: uppercase;/*all h1 in uppercase*/
  font-size: 1.5em;
  margin-bottom: 0px;
}

#footer #footer_stay_connected ul li {
  display: inline-block; /*make social icons to be in 1 line*/
}

#footer #footer_stay_connected ul li a:hover {
  opacity: 0.7;
}

#footer #footer_bottom {
  clear: both;
  text-align: center;
  background-color: #2e2d2e;
  color: #fff;
  height: 4em;/* relative height = 4*font-size(16px in this case) = 64px */
  
  /*make everithing inside #footer-bottom to be in the center vertically and horizontally*/
  display: flex; flex-direction: column; justify-content: center; align-items: center;
}
/*############## END footer styling (all pages) ###############*/
/*#############################################################*/





/*############################################################################*/
/*############### START product.php (product list) page styling ##############*/

/* sidebar */
#sidebar{
  width: 20%;
  float: left;
  /*background-color: #fcf;*/ /*for testing*/
}

/* sidebar h1 */
#sidebar h1{
  /*text-align: center;*/
  font-weight: 700;
  color: #e65912;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*sidebar h2 */
#sidebar h2{
  text-align: left;
  margin-bottom: 25px;
}

/* sidebar ul */
#sidebar ul{
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 0px;
}

#sidebar ul li {
  margin-bottom: 15px;
}

/* sidebar ul li a */
#sidebar ul li a{
  text-decoration: none;
  color: #000;
}

/* sidebar a:hover */
#sidebar ul li a:hover{
  color: #e65912;
}

/* product_list styling */
#product_list{
  width: 80%;
  float: left; /*float close to sidebar*/
  /*background: #ccc;*/ /*for testing*/
}

/* product_list h1 */
#product_list h1{
  margin-top: 0px;
  padding: 20px;
  padding-left: 20px;
  margin-bottom: 0px;
}

/*center all products within #product_list*/
#product_list #center_products {
  /*width: auto;*/
  text-align: center;
  border-left: 2px solid #aaa;
  margin-bottom: 15px;
}

/* .single_product styling in list view page */
#product_list .single_product{
  padding: 5px;
  width: 170px;
  background-color: #eee;
  display: inline-block;/*use inline-block (NOT float) to have option to center all products withing #product_list*/
  margin-left: 2px;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-bottom: 20px;
}

#product_list .single_product a {
  text-decoration: none; /*remove underline*/
  color: initial; /*take inherited color(black), not color for links (blue)*/
}

#product_list .single_product .single_product_image {
  background-color: #fff;
}

/* .single_product image */
#product_list .single_product img{
  width: 170px;
}

#product_list .single_product img:hover,
#product_list .single_product ul li:hover {
  opacity: 0.8;
}

#product_list .single_product .single_product_info ul {
  list-style-type: none;
  padding: 0px;
}

#product_list .single_product .single_product_info ul li {
  margin-bottom: 10px;
}

#product_list .single_product .single_product_info ul li p {
  height: 50px; /*if product name takes 2 lines of text to display and next product 1 line, 50px will not break alignment*/
}




/* clear_both styling on list_view page */
.clear_both{
  clear: both;
}
/*############# END product.php (product list) page styling ############*/
/*##################################################################*/





/*##################################################################*/
/*############### START product_detail.php (product detail) page styling ##############*/
#detail{
  float: left;
  background-color: #fff;
  margin: 0 auto;
}

/* MAKE 3 elements to be displayed in 1 line and verically aligned to the middle of that line
 * to do that see css for #detail_image, #empty_div, #detail_info
 * 1 make #detail_image, #empty_div, #detail_info in 1 line (display: inline-block)
 * 2 define width for each div (50%, 9%, 40%)
 * 3 make all divs to be vertically in the center of the single line (vertical-align: middle)
 */
#detail #detail_product #detail_image {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

/* #####  START make image responsive #####*/
#detail #detail_product #detail_image {
  max-width: 500px;
}
#detail #detail_product #detail_image img {
  width: 100%;
  height: auto;
}
/* #####  END make image responsive #####*/

#detail #detail_product #empty_div {
  box-sizing: border-box;
  display: inline-block;
  width: 8%;
  vertical-align: middle;
}

#detail #detail_info{
  box-sizing: border-box;
  display: inline-block;
  width: 40%;/*img has width 50% and floats left, detail_info has width 40% and floated right, 10% width will be between img and detail_info*/
  vertical-align: middle;
}

#detail #detail_info h1{
  font-size: 20px;
}

#detail #detail_info p{
  font-size: 20px;
}

#detail #detail_info form #quantity_field {
  width: 100px;
  border: 1px solid #e65912;
  border-radius: 3px;
  padding: 5px; /*make search input field bigger*/
  font-size: 16px; /*make font size inside the search input bigger then default*/
}

#detail #detail_info button{
  color: #fff;
  background-color: #f00;
  font-size: 20px;
  border: 2px solid #000;
  width: 200px;
  height: 50px;
}

#detail #detail_info button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#detail #detail_description {
  margin-bottom: 40px;
}

#detail #detail_description h2 {
  margin-top: 40px;
  text-decoration: underline;
}
/*############### END product_detail.php (product details) page styling ##############*/
/*##################################################################*/





/*######################################################################################################*/
/*#### START register new customer / edit customer page (register.php / profile_edit.php) styling ####*/
form span.required_sign {
  color: #f00;
  font-size: 20px;
}

form#customer_registration_info fieldset,
form#profile_edit_form fieldset,
form#payment_form fieldset,
form#login fieldset,
form#password_edit_form fieldset{
  background-color: #eee;
  border: 1px solid #e65912;
  border-radius: 3px; /*same as for search input*/
  box-sizing: border-box; /*to fix the max-width to exact number, no matter of padding, margin*/
  max-width: 700px;
  margin: 0 auto;
  /*margin-top: 20px;*/
}

/*create border around the legend*/
form#customer_registration_info legend,
form#profile_edit_form legend,
form#payment_form legend,
form#login legend,
form#password_edit_form legend{
  background-color: #eee;
  border-radius: 3px 3px 0px 0px;
  border-top: 1px solid #e65912;
  border-left: 1px solid #e65912;
  border-right: 1px solid #e65912;
  text-align: center;
}

form#customer_registration_info label,
form#profile_edit_form label,
form#payment_form label,
form#login label,
form#password_edit_form label{
  display: inline-block;
  box-sizing: border-box; /*works for padding, NOT margins*/
  width: 160px; /*fixed width*/
  text-align: right;
  padding-right: 10px;
}

form#customer_registration_info select,
form#profile_edit_form select,
form#customer_registration_info input[type="text"],
form#profile_edit_form input[type="text"],
form#payment_form input[type="text"],
form#customer_registration_info input[type="email"],
form#profile_edit_form input[type="email"],
form#login input[type="email"],
form#customer_registration_info input[type="password"],
form#profile_edit_form input[type="password"],
form#login input[type="password"],
form#password_edit_form input[type="password"],
form#customer_registration_info input[type="tel"],
form#profile_edit_form input[type="tel"]{
  /* start make input fields responsive and sticked to be in 1 line with <label> */
  width: 100%;
  max-width: calc(100% - 180px); /*max input width = 100% - width of <label> and extra paddings*/
  /* end make input fields responsive*/
  box-sizing: content-box; /*make input fields and option fields the same width*/
  border: 1px solid #444;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px;
  display: inline-block;
}

/*  form error messages style*/
form#customer_registration_info .error,
form#payment_form .error,
form#profile_edit_form .error,
form#login .error,
form#password_edit_form .error{
  color: #f00;
  display: block;
  text-align: left;
  padding-left: 10px;
}

form#customer_registration_info p.select_form_tag,
form#profile_edit_form p.select_form_tag {
  margin-bottom: 0px; /*make error message to be aligned close to <select> field*/
}

/*make submit reset buttons center aligned*/
form#customer_registration_info p#form_submit_buttons,
form#profile_edit_form p#form_submit_buttons,
form#payment_form p#form_submit_buttons,
form#login p#form_submit_buttons,
form#password_edit_form p#form_submit_buttons{
  text-align: center;
}

/*makes width of buttons identical to each other */
form#customer_registration_info p#form_submit_buttons .button,
form#profile_edit_form p#form_submit_buttons .button,
form#payment_form p#form_submit_buttons .button,
form#login p#form_submit_buttons .button,
form#password_edit_form p#form_submit_buttons .button{
  width: 90px;
}

form#customer_registration_info input[type="submit"],
form#profile_edit_form input[type="submit"],
form#login input[type="submit"],
form#password_edit_form input[type="submit"],
form#payment_form input[type="submit"],
form#customer_registration_info input[type="button"],
form#profile_edit_form input[type="button"],
form#login input[type="button"],
form#password_edit_form input[type="button"]{
  border: 1px solid #444;
  border-radius: 3px;
  background-color: #3F9E06;
  color: #fff;
  cursor: pointer;
  text-shadow: 0px 0px 2px #444;
  padding: 10px;
}

form#customer_registration_info input[type="submit"]:hover,
form#profile_edit_form input[type="submit"]:hover,
form#login input[type="submit"]:hover,
form#password_edit_form input[type="submit"]:hover,
form#payment_form input[type="submit"]:hover,
form#customer_registration_info input[type="button"]:hover,
form#profile_edit_form input[type="button"]:hover,
form#login input[type="button"]:hover,
form#password_edit_form input[type="button"]:hover{
  background-color: #55C910;
}

form#customer_registration_info p.text_align_center,
form#profile_edit_form p.text_align_center {
  text-align: center;
}

/*border around billing info and shipping info form fields*/
form#customer_registration_info div.address_info_form,
form#profile_edit_form div.address_info_form {
  border: 1px solid #000;
  border-radius: 3px;
}

/*vertical space between billing info form part and shipping info*/
form#customer_registration_info div.billing_info,
form#profile_edit_form div.billing_info {
  margin-bottom: 20px;
}

/*###  START summary information after adding a new customer*/
div#new_customer_summary {
  text-align: center;
}
div#new_customer_summary ul {
  padding-left: 0px;
  list-style-type: none;
}
div#new_customer_summary ul li {
  margin-bottom: 5px;
}
div#new_customer_summary p a {
  color: #00f;
  text-decoration: none;
}
/*###  END summary information after adding a new customer*/


/*#### END register new customer / edit customer page (register.php / profile_edit.php) styling ####*/
/*##################################################################################################*/





/*#########################################################################*/
/*############### START profile page (profile.php) styling ###############*/
div#customer_info {
  text-align: center;
}

div#customer_info ul {
  list-style-type: none;
  padding: 0px;
}

div#customer_info .edit_customer_button {
  /*box-sizing: border-box;*/
  display: inline-block;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 3px;
  background-color: #3F9E06
}

div#customer_info a .edit_customer_button {
  text-decoration: none;
  color: #fff;
}

div#customer_info .edit_customer_button:hover {
  background-color: #55C910;
}

/*############## END profile page (profile.php) styling #################*/
/*#######################################################################*/



/*#####################################################*/
/************* ABOUT US PAGE STYLING *******************/

/* aboutus_hero_image styling */
#aboutus_hero_image{
  width: 100%;
  height: auto;
}

#aboutus_hero_image img{
  width: 100%;
  height: auto;
}

/* content styling for about_us page */
#content{
  padding-top: 10px;
}

#about_us_paragraph h1{
  text-align: center;
  font-weight: 700;
  color: #e65912;
  margin-top: 0px;
}

#about_us_paragraph p{
  text-align: justify;
  text-indent: 40px;
  font-style: italic;

}

#team_members h1{
  text-align: center;
  font-weight: 700;
  color: #e65912;
}

#team_members ul{
  list-style-type: none;
  margin-top: 0px;
 text-align: center;
 padding: 0px;
}

#team_members li{
  float: left;
}

#team_members ul li img{
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

#team_members p{
  padding-bottom: 40px;
  border-bottom: 1px dotted #000;
}
/*************** About us page finished *************/
/*##################################################*/



/*##################################################*/
/**********Contact us page styling ******************/

#contact_form #form_box {
  margin: 0 auto;
  max-width: 400px;
  margin-bottom: 20px;
  margin-top: 30px;
}

#contact_form fieldset{
  border: 1px solid #000;
}

#contact_form legend{
  background-color: #e65912;
  border: 2px solid #444;
  padding: 5px;
}

#contact_form label{
  width: 100px;
  display: inline-block;
  text-align: right;
}

#form_last input[type="submit"]{
  background-color: #f00;
  border: 2px solid #000;
  margin: 10px;
}

.required{ 
  color: #f33;
  vertical-align: 2px;
}

#contact_us_map {
 text-align: center;
 margin-bottom: 20px;
}


#contact_us_map img{
  max-width: 700px;
  max-height: 300px;
}
/********** END Contact us page styling ******************/
/*######################################################*/






























/*###################################################*/
/*####### START responsive design (breakpoints)######*/

/*if below 960px width, center (instead of justified to width) the category list and new_arrivals for responsive veiw*/
@media only screen and (max-width: 960px) {
  #shop_by_category ul{
    text-align: center;
  }
  
  #new_arrivals ul{
    text-align: center;
  }
}


/*adjust main navigation menu horizontally */
@media only screen and (max-width: 815px) {
  #header #nav ul li{
    margin-left: 10px;
  }
}


/*iPad breakpoint - mobile view starts*/
@media only screen and (max-width: 768px) {
  
  /*----------- START header and footer breaks ---------- */
  /*hide desktop style main navigation*/
  #header #nav {
    display: none;
    width: 0px;
  }
  
  /*and display mobile style main navigation*/
  #header nav {
    display: initial; /*restore hamburger menu to default setting - visible*/
  }
  
  /*adjust search fiels*/
  #header #search {
    float: right;
    width: 50%;
  }
  /*----------- END header and footer breaks ---------- */
  
  
  /*----------- START products page breaks ---------- */
  /*place sidebar from the left edge to the top of the #container*/
  #sidebar {
    box-sizing: border-box;
    width: 100%;
    float: none;
    /*background-color: #fcf;*/ /*for testing*/
    padding: 10px;
    border-bottom: 1px dotted #000;
  }
  
  #sidebar h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  
  #sidebar h2{
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #sidebar ul {
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  #sidebar ul li {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  /*place #product_list under the sidebar*/
  #product_list{
    width: 100%;
    float: none; /*remove desktop style float*/
    /*background: #ccc;*/ /*for testing*/
  }
  
  #product_list h1{
    padding-left: 0px;
  }
  
  #product_list #center_products {
    border: none;
  }
  /*----------- END products page breaks ---------- */
  
  
  /*----------- START product_detail page breaks ---------- */
  #detail #detail_product #detail_image {
    display: block;/*change desktop style inline-block to block*/
    width: 100%;/*change desktop style 40% to 100%*/
    margin: 0 auto;
  }
  
  #detail #detail_product #empty_div {
    display: none;/*change desktop style inline-block to block*/
  }

  #detail #detail_product #detail_info{
    display: block;/*change desktop style inline-block to block*/
    width: 100%;/*change desktop style 40% to 100%*/
    text-align: center;
  }
  /*----------- END product_detail page breaks ---------- */
}


/*adjust register and profile edit forms with size*/
@media only screen and (max-width: 540px) {
  form#customer_registration_info label,
  form#profile_edit_form label {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  form#customer_registration_info select,
  form#profile_edit_form select,
  form#customer_registration_info input[type="text"],
  form#profile_edit_form input[type="text"],
  form#payment_form input[type="text"],
  form#customer_registration_info input[type="email"],
  form#profile_edit_form input[type="email"],
  form#customer_registration_info input[type="password"],
  form#profile_edit_form input[type="password"],
  form#customer_registration_info input[type="tel"],
  form#profile_edit_form input[type="tel"]{
    max-width: 100%;
    box-sizing: border-box;
  }
  
  form#customer_registration_info div.address_info_form,
  form#profile_edit_form div.address_info_form {
    padding: 10px;
  }
}


/*adjust login form with size */
@media only screen and (max-width: 500px) {
  div#login_form label,
  div#customer_password_form label{
    display: initial; /*cancel inline-block, to place label above the input field*/
    padding: 0px;
  }
  
  div#login_form p input#email,
  div#customer_password_form p input#old_password,
  div#customer_password_form p input#password,
  div#customer_password_form p input#pass_confirm,
  div#login_form p input#pass {
    width: 90%;
    max-width: none; /*cancel desktop max-width*/
  }
  
  div#login_form p,
  div#customer_password_form p {
    text-align: center;
  }
}

/*####### END responsive design (breakpoints)######*/
/*###################################################*/














